:root {
    --font-main: 'Open Sans', sans-serif;
    --font-header: 'Raleway', sans-serif;
    --lightBG-header-color: #303030;
    --lightBG-title-color: #555555;
    --darkBG-header-color: #FFF;
    --darkBG-title-color: #9DA4BD;
    --brand-color: #FF6C00;
}